.footer {
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  text-align: left;
}

.footer-left a {
  color: #00acee;
  text-decoration: none;
  margin-left: 10px;
}

.footer-right {
  text-align: right;
}

.footer-right p {
  margin-bottom: 5px;
}

.tmdb-logo {
  width: 100px;
  height: auto;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    text-align: center;
  }

  .footer-left a {
    display: block;
    margin-top: 10px;
  }
}
