#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
a {
  font-weight: 500;
  color: var(--primary-green);
  text-decoration: none;
}

a:hover {
  color: var(--accent-green);
}

button {
  background-color: var(--primary-green) !important;
  color: var(--button-text-color) !important;
  border: 2px solid var(--primary-green) !important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease !important ;
}

button:hover {
  background-color: var(--secondary-green) !important;
  border-color: var(--secondary-green) !important;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color !important;
} */
button:focus {
  outline: none;
}

input {
  background-color: var(--secondary-green);
  border-color: var(--accent-green);
}
