/* Global settings (common to all components) */
:root {
  --primary-green: #1faa59; /* Emerald Green */
  --secondary-green: #a8d5ba; /* Seafoam Green */
  --accent-green: #9cde53; /* Lime Green */
  --dark-green: #0b6623; /* Forest Green */
  --light-green: #ccf6d3; /* Light Pastel Green */
  --text-color: #333; /* Dark Text */
  --background-color: #f4f4f4;
  --button-text-color: white;

  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
}
.website-header,
.website-footer {
  padding: 0 0;
  max-width: none;
  width: 100%; /* Full width */
}
